[leg_header_html]<meta charset="UTF-8">[/leg_header_html]
[leg_class_html opt_flag=13]{"index":[leg_class_index],"layer_name":"[leg_layer_name]","label":"[leg_class_name]","title":"[leg_class_title]","icon": "[leg_icon width=30 height=30]"},[/leg_class_html]
<!-- <div class="class_legend" style="display: none;">
  <img class="class_img" src="[leg_icon width=20 height=10]" width=20 height=10 /><span class="class_label">[leg_class_name]</span>
</div> -->

<!-- BACKUP
[#leg_layer_html order_metadata=legend_order opt_flag=15 #][#/leg_layer_html#]
[#leg_header_html#]<meta charset='UTF-8'><pre>[[#/leg_header_html#]
[#leg_class_html opt_flag=15#]{
"class_index": [#leg_class_index#],
  "class_maxscale": [#leg_class_maxscale#],
  "class_minscale": [#leg_class_minscale#],
  "name": "[#leg_layer_name#]",
  "icon": "[#leg_icon width=30 height=30#]",
  "class_title": "[#leg_class_title#]",
  "label": "[#leg_class_name#]",
  "metadata": {
    "WMS_TITLE": [#metadata name=WMS_TITLE#],
    "metadata_name": [#metadata name=metadata_name#]
  }
},[#/leg_class_html#]
[#leg_footer_html#]]</pre>[#/leg_footer_html#]
-->